{% extends 'base.html' %}

<title>{% block title %}Dashboard{% endblock %}</title>
    
       {% block nav %}
       <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
          {% endblock %}
          {% block body %}
      <div class="container my-3">
        <h2>Add a Todo</h2>
        <form action = "/" method = "POST">
            <div class="mb-3">
              <label for="title" class="form-label">Todo Title</label>
              <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Todo Description</label>
              <input type="text" class="form-control" name="desc" id="desc">
            </div>
            
            <button type="submit" class="btn btn-success btn-sm">Submit</button>
          </form>
    </div>
      
    <div class="container">
        <table class="table table-primary table-striped my-4">
        <thead>
            <tr class="table-secondary">
            <th scope="col">SNo.</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todo %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{todo.name}}</td>
            <td>{{todo.desc}}</td>
            <td>{{todo.created.strftime("%d-%b-%Y")}}</td>
            <td>
              <a href = "/update/{{todo.id}}" type="button" class="btn btn-primary btn-sm">Update</a>
              <a href = "/delete/{{todo.id}}" type="button" class="btn btn-secondary btn-sm">Delete</a>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock body %}