{% extends 'base.html' %}

<title>{% block title %}Update{% endblock %}</title>
    {% block body %}
      <div class="container my-3">
        <h2>Add a Todo</h2>
        <form action = "/update/{{task.id}}" method = "POST">
            <div class="mb-3">
              <label for="title" class="form-label">Todo Title</label>
              <input type="text" class="form-control" name="title" id="title" value="{{task.name}}" aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Todo Description</label>
              <input type="text" class="form-control" name="desc" id="desc" value="{{task.desc}}"> 
            </div>
            
            <button type="submit" class="btn btn-success btn-sm">Update</button>
          </form>
    </div>
</div>
{% endblock body %}